$background: white;

.navigation {
    background: transparent;
    @apply text-white;

    @apply w-full h-16;

    @apply sticky top-0;

    z-index: 100;

    &[data-affix="true"] {
        @apply bg-white;
        @apply text-black;
    }
}


.container {
    width: 94%;
    @apply h-full;

    @apply m-auto p-1;

    @apply flex;
}



.logo {
    @apply relative;
    @apply block;
    @apply w-auto h-full;
    @apply object-cover;
}



.menus {
    @apply w-full h-full;
    @apply grid;
    place-items: center flex-end;
}
