.header {
  @apply h-full;
  min-height: 60vh;

  @apply bg-gray-400;
  @apply bg-center bg-cover bg-no-repeat;

  background-image: url(http://picsum.photos/1024/576);
  color: white;

  @apply flex place-items-center;
  @apply relative;

  &:before {
    @apply h-full w-full;
    @apply block;
    @apply absolute inset-0;

    background: #00000070;

    z-index: 1;

    content: '';
  }

  &_container {
    @apply flex flex-col;
    place-items: start center;

    @apply h-full;
    width: 94%;

    @apply m-auto;

    z-index: 2;
  }

  &_mainMessage {
    @apply text-4xl;
    @apply m-0 mb-5;
    width: 25ch;
  }

  &_subMainMessage {
    @apply text-xl;
    @apply m-0 mb-5;
  }

  &_headerInputGroup {

    @apply flex;

    & > input {
      @apply appearance-none block;
      @apply w-full h-auto;
      @apply bg-gray-200 text-gray-800;
      @apply border border-gray-200 rounded-lg rounded-r-none;
      @apply px-4;
    }

    > button {
      @apply px-4 py-2;
      @apply bg-gray-400 text-gray-800;
      @apply border border-gray-200 rounded-lg rounded-l-none;
    }
  }
}


.features {
  @apply h-full;
  min-height: 60vh;
  @apply flex flex-col;
}

.feature, .featureAlternative, .featureEven {
  @apply flex place-items-center;
  @apply relative;

  height: clamp(30rem, 20vh, 50rem);

  //height: 20vh;

  /*@media screen and (max-height: 1600px - 1) {
    height: 20vh;
  }

  @media screen and (max-height: 1200px - 1) {
    height: 33.3334vh;
  }

  @media screen and (max-height: 960px - 1) {
    height: 50vh;
  }*/

  @media screen and (max-width: 480px - 1) {
    @apply flex-col h-auto;
  }

  &_container {
    @apply flex place-items-center;
    @apply m-auto;
    @apply h-full;
    width: 94%;
    z-index: 2;
  }

  &_content {
    @apply w-full h-full;
    @apply flex flex-col gap-6 place-content-center place-items-start;
  }

  &_image {
    @apply w-full h-full;
    @apply flex place-items-center;

    > img {
      @apply block;
      max-height: 90%;
      max-width: 90%;

      @apply object-contain;
      @apply m-auto mr-auto;
    }
  }

  &_title {
    @apply text-4xl font-bold;
  }

  &_subtitle {
    @apply text-xl;
  }
}

.featureAlternative {
  background-image: url(https://picsum.photos/1280/800);
  @apply text-white;
  @apply bg-gray-600 bg-cover bg-center;

  &:before {
    height: 100%;
    width: 100%;

    @apply h-full w-full;
    @apply block;

    @apply absolute inset-0;

    background-image: linear-gradient(to right, #000000CC 0%, #000000AA 33.3334%, transparent 100%);

    content: '';

    z-index: 1;
  }
}

.featureEven {
  @apply bg-gray-400;

  &_container {
    @apply flex-row-reverse;
  }

  &_content {
    @apply place-items-end;
    @apply text-right;
  }

  &_image {
    & > img {
      @apply m-auto ml-0;
    }
  }
}
