.cgu_title {
  text-align: center;
}
.cgu_body {
  width: 40%;
  margin-left: 30%;
  line-height: 25pt;
}
.cgu_body h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1000px) {
  .cgu_body {
    margin-left: 10%;
    width: 80%;
  }
}
