.documentaires_featured {
  @apply h-full;
  @apply py-40 lg:py-32 md:py-24;
  padding-left: 5vw;
  padding-right: 5vw;
  @apply flex flex-col place-content-center place-items-start;
  background-color: #0F0F0F;
  @apply text-base;
  @apply relative;
  @apply text-white;

  &::before {
    @apply z-10;
    @apply h-full w-full;
    @apply absolute inset-0;
  }

  [aria-label="Informations sur le documentaire"] {
    @apply text-base;

    > [aria-label="Titre"] {
      @apply text-4xl;
      @apply mb-1;
    }

    > [aria-label="Auteur"] {
      @apply text-lg;
      @apply mb-2;

      > span {
        @apply font-bold;
      }
    }

    > [aria-label="Description"] {
      @apply text-base;
      width: 65ch;
      @apply mb-16;
    }

    > div:last-child {
      @apply flex gap-4;
      > button {
        @apply flex gap-2 items-center justify-center;
        @apply appearance-none rounded cursor-pointer;
        @apply items-center flex justify-center;
        @apply opacity-100 relative select-none whitespace-nowrap;
        padding: 0.8rem 2.4rem 0.8rem 2rem;
        border: 0;
        will-change: background-color, color;
        word-break: break-word;
        @apply font-bold;

        &:nth-child(1) {
          background-color: rgba(255, 255, 255, 0.75);
          @apply text-black;
        }

        &:nth-child(2) {
          @apply text-white;
          background-color: rgba(109,109,110,0.7);
        }
      }
    }
  }
}

.categories {

  @apply text-white;

  > section {
    @apply h-full;
    @apply px-0 py-7;
    @apply relative;
    z-index: 1;

    > p {
      margin-left: 4vw;
      @apply text-2xl leading-normal;
      @apply mb-3;
      @apply z-10;
    }
  }

}