.documentaires_featured {
  @apply h-full;
  @apply py-40 lg:py-32 md:py-24;
  @apply px-8;
  @apply flex flex-col place-content-center place-items-start;
  @apply bg-gray-400;
  @apply text-base;

  [aria-label="Informations sur le documentaire"] {
    @apply text-base;
  }
}

.categories {

  > section {
    @apply h-full;
    @apply px-0 py-7;
    @apply relative;

    [aria-label="Liste de documentaires"] {
      @apply flex;
      @apply w-full h-auto;
      transform: translateX(4vw);
      gap: .25vw;
    }

    [aria-label="Liste de documentaires"] > [role="listitem"] {
      @apply flex flex-col justify-end;
      @apply bg-red-100;
      @apply rounded-lg;
      @apply p-3;
      @apply transition transform;
      pointer-events: all;

      // @apply aspect-h-9 aspect-w-16;
      width: 28.5vw;
      min-width: 28.5vw;
      max-width: 28.5vw;
      height: 53.5111111111vw;
      min-height: 53.5111111111vw;
      max-height: 53.5111111111vw;

      [aria-label="Informations sur le documentaire selectionné"] {
        @apply hidden;
        @apply h-0;
      }

      &[aria-current="true"] {
        @apply scale-125;
        @apply z-40;
        @apply shadow-lg;

        &[data-leftest="true"] {
          @apply scale-125 translate-x-11;
        }

        &[data-rightest="true"] {
          @apply scale-125 -translate-x-11;
        }

        [aria-label="Informations sur le documentaire selectionné"] {
          @apply transition delay-300;
          @apply h-full;
        }
      }

      @screen sm {
        & {
          width: 30.1vw;
          min-width: 30.1vw;
          max-width: 30.1vw;
          height: 16.93125vw;
          min-height: 16.93125vw;
          max-height: 16.93125vw;
        }
      }

      @screen md {
        & {
          width: 15vw;
          min-width: 15vw;
          max-width: 15vw;
          height: 8.4375vw;
          min-height: 8.4375vw;
          max-height: 8.4375vw;
        }
      }

      @screen lg {
        & {
          width: 18vw;
          min-width: 18vw;
          max-width: 18vw;
          height: 10.125vw;
          min-height: 10.125vw;
          max-height: 10.125vw;
        }
      }

    }

    [aria-label="Contrôles de la liste"] {
      @apply absolute;
      // @apply flex place-content-between;
      // @apply w-full h-full;
      @apply hidden;
      @apply z-10;

      @screen sm {
        @apply flex;
        & {
          transform: translateY(-16.93125vw);
        }
      }

      @screen md {
        & {
          transform: translateY(-8.4375vw);
        }
      }

      @screen lg {
        & {
          transform: translateY(-10.125vw);
        }
      }
    }

    [aria-label="Contrôles de la liste"] > [role="listitem"] {
      background: #00000075;
      width: 3.75vw;
      @apply grid place-content-center;
      @apply absolute;

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: 95.35vw;
      }

      // @apply aspect-h-9 aspect-w-16;
      height: 53.5111111111vw;
      min-height: 53.5111111111vw;
      max-height: 53.5111111111vw;

      @screen sm {
        & {
          height: 16.93125vw;
          min-height: 16.93125vw;
          max-height: 16.93125vw;
        }
      }

      @screen md {
        & {
          height: 8.4375vw;
          min-height: 8.4375vw;
          max-height: 8.4375vw;
        }
      }

      @screen lg {
        & {
          height: 10.125vw;
          min-height: 10.125vw;
          max-height: 10.125vw;
        }
      }

    }
  }

}