@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-video {
  from {
    background: #11111115;
  }

  to {
    background: red;
    //background: #04040475;
  }
}

:root {
  --dark: #0B0C10;
  --secondary-dark: #1F2833;
  --light: #ececec;
  --secondary-light: #C5C6C7;
  --cyan: #66FCF1;
  --dark-cyan: #45A29E;
}

html, body {
  @apply m-0 h-full max-h-screen;
  overflow: hidden auto;
  background-color: #141414;
  @apply text-white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply flex flex-col;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  @apply h-full;
  @apply transition;
  transition-duration: 2s;

  &[data-zoom="true"] {
    @apply transform scale-125;
  }
}

#root > div {
  @apply relative;
}

.loading-backdrop {
  @apply absolute inset-0;
  @apply h-full w-full;
  @apply block;
  background: transparent;
  transition-duration: 2s;
  transition-property: background-color, opacity;

  content: '';
}